nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
nav ul li {
  list-style: none;
  margin-left: 20px;
}
nav ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: var(--text);
  border-radius: 20px;
}
nav ul li a:hover,
nav ul li a.active {
  background-color: var(--text);
  color: var(--text-btn);
}
.desktop-list {
  display: flex;
}
.mobile-list {
  display: none;
}
