:root {
    --main-color: #0d1011;
    --secundary-color: #262b2b;
    --text-btn: #01497C;
    --backgroud-seccion: #5f787b;
    --h2-line: #eab354;
    --text: #e7e4e3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size:62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    color: var(--text);
    font-weight: 700;
    text-decoration: none;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.desktop-list{
    display: none;
}
.hero{
    background-image: linear-gradient(
        -45deg,var(--main-color),black);
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,var(--main-color),transparent);
    z-index: 1000;
}
.hero__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    background-image: url("https://i.ibb.co/SQHkkgJ/stars.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}
#hero__title{
    position: absolute;
    color:var(--text);
    white-space: nowrap;
    font-size: 10rem;
    z-index: 9;
}
#hero__btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: var(--text);
    color: var(--text-btn);
    font-size: 1.5rem;
    z-index: 9;
    transform: translateY(100px);
}
.main__about{
    position: relative;
    padding: 50px;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--main-color);
}
.main__about--detail{
    margin-top: 50px;
    margin-left: 50px;
}
.main__about h2{
    font-size: 4.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--text);
}
.main__about h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--h2-line);
    bottom: 0;
    left: 0;
}
.main__about h3{
    font-size: 2rem;
    margin: 20px 0px 20px ;   
    color: var(--h2-line);
}
.main__about p{
    margin-bottom: 22px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--text);
    white-space: pre-line;
}
footer { 
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 200px;
    min-width: 320px;
    background-color: var(--main-color);  
}
footer h2{
    color: var(--text);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}
@media only screen and (max-width:1200px){
    .mobile-list{
        display: block;
        background-color:var(--text-btn);
        color: var(--text);
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        list-style: none;
    }
    .mobile-list i {
        font-size: 30px;
    }
}